docxtpl       # Para inyectar datos en Word
pandas        # Para manejo de datos tabular (Excel/SQL)
openpyxl      # Motor para leer Excel
pillow        # Para procesar/redimensionar imágenes
python-dotenv # (Opcional) Si conectas a SQL Server/Postgres
sqlalchemy    # Para leer el archivo .env
requests
pyodbc
psycopg2      # Conectar a PostgreSQL